span {
    display: block;
    width: 250px;
    text-align: left;
}

.bottom > span {
    padding: 10px;
    width: 150px;
    text-align: center;
}


img {
    height: 360px;
    width: 250px;
}

button {
    width: 100px;
}

