body {
    background-color: rgb(231, 229, 229);
}

span {
    display: block;
    width: 250px;
    text-align: left;
    color: rgb(116, 116, 116);
}

span:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}

span:nth-child(2) {
    font-size: 18px;
}

span:nth-child(3) {
    font-size: 18px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    background: #d7d7d7;
    letter-spacing: 8px;
    color: rgb(132, 132, 132);
}

.bottom > span {
    padding: 10px;
    width: 150px;
    text-align: center;
}

img {
    height: 360px;
    width: 250px;
}

button {
    width: 100px;
}

